{
	"autoboot": true,
	"brand": "joyent",
	"image_uuid": "db4199fc-0ad7-4a34-a8d2-de1633900414",
	"max_physical_memory": 512,
	"quota": "10",
	"cpu_cap": 100,
	"alias": "fifo_installer",
	"resolvers": ["8.8.8.8", "8.8.4.4"],
	"nics": [
		{
			"ip": "{{IP}}",
			"gateway": "{{GW}}",
			"netmask": "{{MASK}}",
			"interface": "net0",
			"nic_tag": "admin"
		}
	]
}
