{
	"autoboot": true,
	"brand": "joyent",
	"image_uuid": "7ec9966e-6ce1-452c-8910-0d92d16545c4",
	"max_physical_memory": 512,
	"quota": "10",
	"cpu_cap": 100,
	"alias": "fifo_installer",
	"resolvers": ["8.8.8.8", "8.8.4.4"],
	"nics": [
		{
			"ip": "{{IP}}",
			"gateway": "{{GW}}",
			"netmask": "{{MASK}}",
			"interface": "net0",
			"nic_tag": "admin"
		}
	]
}
